@model Connector.Models.ContactDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row my-4">
    <div class="col d-flex flex-column">
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div>
            @Html.DisplayFor(model => model.Name)
        </div>

    </div>
    <div class="col d-flex flex-column">
        <div>
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div>
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="col d-flex flex-column">
        <div>        
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>
        <div>
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>
    <div class="col d-flex flex-column">
        <div>
            @Html.DisplayNameFor(model => model.Created)
        </div>
        <div>
            @Html.DisplayFor(model => model.Created)
        </div>
    </div>
    <div class="col d-flex flex-column">
        <div>
            @Html.DisplayNameFor(model => model.LastContacted)
        </div>
        <div>
            @Html.DisplayFor(model => model.LastContacted)
        </div>
    </div>
</div>

<table class="table table-striped table-hover text-light my-3">
    <thead>
        <tr>
            <th scope="col">
                Note
            </th>
            <th scope="col">
                Created
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Notes != null)
        {
            foreach (var item in Model.Notes)
            {
                <tr>
                    <td class="text-light">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td class="text-light">
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.ActionLink("Add Note", "CreateForContact", "Note",new {id = Model.ContactId}, htmlAttributes: new { @class = "btn btn-outline-light mb-4" })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
